# exclude device-specific settings
.obsidian/

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

# remove the Files folder
Files/


# Ignore Smart Connections folder
.smart-connections